@{
    ViewData["Title"] = "Home Page";
}

<div>

    <div class="container">
        <div class="row">
            <div class="col-sm ">
                <h1 class="mt-5 display-2">PicShare</h1>
                <h1 class="mt-4 text-primary ">
                    The best free stock photos, royalty free images shared by creators.
                </h1>
            </div>
            <div class="col-sm">
                <img src="~/Photos/BG.png" width="450"/>
            </div>

        </div>
    </div>
</div>

